<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Dentista.Properties.Settings.conexion" connectionString="Data Source=SMARTACCESS.mssql.somee.com;Initial Catalog=SMARTACCESS;Persist Security Info=True;User ID=ju4nd3l64d0;Password=d3l64d0_93"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>